<app-header></app-header>

<div class="main-content">
    <div class="page">
      <div class="module">
        <div class = "container group">
            <div class = "content">
                <h1>About</h1>
                <div class = "text">
                    
                    <p>
                        <strong class="intro">DISCLAIMER! THIS WEBSITE WAS VERY MUCH INSPIRED BY <a href="https://verse.press/">VERSE</a>. ALL THE RIGHTS FOR THE WEBSITE'S CONCEPT AND DESIGN GO TO THEM. GO SUPPORT THIS WEBSITE BECAUSE IT'S VERY COOL! PLEASE DON'T SUE ME I AM JUST A BROKE STUDENT WHO HAD A SCHOOL PROJECT!</strong>
                       
                    </p>
                    <p>
                        <strong class="intro">Uni-Verse sends you a new poetry playlist each week.</strong>
                        A poetry playlist is a small set of poems around a particular subject, geography, time period, technique—or any other organizing theme. We also occasionally feature playlists drawn from a single press, or from a single newly-released book of poetry.
                    </p>
                    <p>
                        My goal with the project is help people find great new poems. When poems are curated around a theme, you get more context and personal connection to the work. Sometimes disparate-seeming poets are put into conversation with each other, and you can compare treatments of the same subject.
                    </p>
                    <p>
                        If you aren't already signed up, you'll see an email sign up form at the bottom of this page. The weekly featured playlists are best read by email, but many of them are posted to 
                        <a href="/">the front page</a>
                        and 
                        <a href="https://twitter.com">@universepoetry</a>
                        on Twitter.
                    </p>
                    <h2>Playlist curator</h2>
                    <p>
                        Featured playlists come from the poetry community. Past curators have included writers, publishers, and passionate readers of poetry. We are always open to contributions.
                    </p>
                    <p>
                        A playlist needs just a few things: a title, the name of the author, the publication date, a description, a link to an image that you think could fit as a cover for you collection and of course a list of poems. Any person that logs in has the option to add a new collection and the result are immediat because you can view your respective playlist on the website.  
                        <a href="mailto:alex@universe.press">Email me</a>
                        if you think you might be interested in contributing with something that might improve this platform or have any other questions you want to ask I'll be more than happy to talk answer.

                    </p>
                    <p>
                        If you create an account on the site, you will also be able to make your own playlists, thus sharing your work with the rest of the world.

                    </p>
                    <h2>Story</h2>
                    <p>
                        Verse is mainly edited by me, in addition to numerous playlist contributors.
                    </p>
                    <p>
                        This platform came to life because I haven't encountered one website with its main focus being showcasing poetry from young people who haven't yet been discovered and also that allows readers to find good poetry to read all in one place. My intention with this project is to create a safe space for everyone to share their thoughts, feelings and life experiences through the art of poetry.
                    </p>
                    <p>
                        Please write to 
                        <a href="mailto:alex@universe.press">alex@universe.press</a>
                        with any questions or comments. You can also follow Uni-Verse on 
                        <a href="https://twitter.com" >Twitter</a>
                        or 
                        <a href="https://www.facebook.com">Facebook</a>
                        .
                    </p>

                </div>

            </div>
            <aside>
                <h2 class = "title">
                    Contact Uni-Verse
                </h2>
                <div class = "mt-6 italic font-contact">
                    Please write to 
                    <a href="mailto:alex@universe.press">alex@universe.press</a>
                    with any questions or comments.

                </div>
                <div class = "share">
                    <h2>Follow Us</h2>
                    <ul>
                        <li>
                            <a target="_blank" rel="noreferrer noopener" href="https://twitter.com" class="link-social-twitter rounded"></a>
                        </li>
                        <li>
                            <a target="_blank" rel="noreferrer noopener" href="https://www.facebook.com" class="link-social-facebook rounded"></a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>

    </div>
    </div>
    

</div>

<app-footer></app-footer>
<app-header></app-header>
