<div class="footer-container">
    <div class="sus">
        <div class="stanga">
            <h2 class="font-stanga">
                Get new poems directly into your inbox
            </h2>
        </div>
        <div class="dreapta">
            <form class = "subscribe">
                <mat-form-field >
                    <mat-label>Your email address</mat-label>
                    <input matInput placeholder="" value="">
                </mat-form-field>
            </form>
            <div class="doua-butoane">
                <button mat-flat-button>SUBSCRIBE</button>
                <button mat-button color="white" class = "text-alb">
                    OR SIGN IN
                </button>
            </div>
        </div>

    </div>

</div>